@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}
body,
html {
  font-family: Rajdhani, sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  min-height: 100% !important;
  background-color: #ededed !important;
}
.testimonialsCenter {
  color: #fff !important;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 90%;
  background: #000;
  background: -webkit-linear-gradient(to top, #000, #434343);
  background: linear-gradient(to top, #000, #434343);
  border-radius: 50px;
  padding: 20px;
  box-shadow: 37px 25px 49px 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 37px 25px 49px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px 25px 49px 8px rgba(0, 0, 0, 0.75);
  transition: transform 0.5s;
}
#testimonialH3 {
  color: #707070;
}
.testimonialsCenter:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.background-svg {
  /* margin-top: -18%; */
  position: absolute;
  width: 100%;
}
.service-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40vh;
}
.fw-light {
  color: #fff;
  font-weight: 900 !important;
  text-transform: uppercase;
  padding-top: 100px;
  margin-top: 140px;
}
.carer-button input {
  padding-bottom: 20px;
}
.carer-button button {
  border-radius: 2px;
  border: 1px solid #a29f9f;
  padding: 5px 20px;
  background: #fff;
  color: #000;
}
.MuiButton-label input {
  margin-left: 6px;
}
.MuiContainer-root button {
  width: 100%;
}
.MuiButton-contained {
  margin-bottom: 15px !important;
}
.testimonialCarousel {
  margin-top: 5%;
  margin-bottom: 10%;
}
.rec-arrow-right {
  margin-right: 0;
}
.rec-arrow-left {
  margin-left: 0;
}
.rec-arrow-left {
  background: #000;
  background: -webkit-linear-gradient(to top, #000);
  /* background: linear-gradient(to top, #000, #434343); */
  color: #fff;
}
.background-header {
  /* background: linear-gradient(to top, #000, #434343); */
  height: 625px;
}
.rec-arrow-right {
  background: #000;
  background: -webkit-linear-gradient(to top, #000, #434343);
  /* background: linear-gradient(to top, #000, #434343); */
}
.rec-arrow-left:hover {
  background: linear-gradient(to right, #919191 0, #aaa 100%) !important;
}
.rec-arrow-right:hover {
  background: linear-gradient(to right, #919191 0, #aaa 100%) !important;
}
#contact .form-control {
  border-radius: 15px !important;
}
.testimonialCarousel {
  margin: 5%;
}
#logoImg {
  transition: transform 0.2s;
  margin: 50px 50px;
  width: 100px;
  height: 100px;
}
#logoImg:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.gmap_iframe {
  border-radius: 15px;
}
.mapouter .mapclass .mapclass {
  margin: 0 !important;
}
/* .typographyCSS {
  background-color: #000;
  color: #141414;
  padding: 10px;
 margin: 400px 400px;
} */
.careerHeading {
  height: 2rem;
  z-index: 1;
  text-align: center;
}
.footerMainDiv {
  padding: 60px 40px 0 40px;
  /* background-color: grey; */
}
.addNewbtnClass {
  position: absolute;
  right: 20px;
}
.loadingClass {
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(to right, #434343, #000);
  background: linear-gradient(to right, #434343, #000);
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}
.icon-bar .facebook:hover {
  background-color: black;
  color: #3b5998;
}
.facebook {
  background: #3b5998;
  color: #fff;
}

.icon-bar .twitter:hover {
  background-color: black;
  /* color: yellow; */
  left: -10px;
  transition: left 1s;
}
.twitter {
  /* background: black; */
  color: #fff;
  background-color: #1da1f2;
}

.icon-bar .google:hover {
  background-color: black;
  /* color: ; */
}

.google {
  background: #e1306c;
  color: #fff;
}

.icon-bar .linkedin:hover {
  background-color: black;
  /* color:  #3b5998; */
}

.linkedin {
  background: #0a66c2;
  color: #fff;
}
.youtube {
  background: #b00;
  color: #fff;
}
.content {
  margin-left: 75px;
  font-size: 30px;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #608dfd;
}
ol,
ul {
  list-style: none;
}
ol,
ul {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
  font-family: "Satoshi Regular", sans-serif;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #000;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0 20px;

  font-family: "Lato", sans-serif;
}
#bs-example-navbar-collapse-1 .active {
  border-bottom: 2px solid #919191;
  bottom: -1px;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:focus:after,
.navbar-default .navbar-nav > .active > a:hover:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #919191 0, #aaa 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 1;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #000;
  border-color: #000;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 40px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #000 0, #474747 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(to right, #3b3b3b 0, #000 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover {
  color: #fff;
  background-image: none;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
a:focus {
  outline: 0;
  outline-offset: none;
}
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-color: #e5e5e5; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* height: 100%; */
}
.intro .overlay {
  /* background: rgba(0, 0, 0, 0.2); */
  /* height: 522px; */
  width: 105%;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 650px;
  /* background-image: url(img/homebanner2.jpg); */
}
.intro h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: white;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 250px;
  padding-bottom: 20px;
  text-align: center;
}
#features {
  padding: 40px 0;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #5a5a5a 0, #000 60%) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}
#features i.fa:hover {
  transform: scale(1.3);
  background: linear-gradient(to right, #919191 0, #aaa 100%) !important;
  cursor: pointer;
  color: #222121;
}
#about {
  padding: 10px 0 20px 0;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #000 0, #474747 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  /* background: #fff; */
  border-right: 0;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.06); */
}
#about p {
  line-height: 24px;
  margin: 30px 0;
  font-family: "Satoshi Regular", sans-serif;
}
#services {
  padding: 100px 0;
  background: #000;
  background: -webkit-linear-gradient(to right, #434343, #000);
  background: linear-gradient(to right, #434343, #000);
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #5a5a5a 0, #000 60%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}
#services i.fa:hover {
  transform: scale(1.2);
  background: linear-gradient(to right, #919191 0, #aaa 100%);
  cursor: pointer;
  color: #222121;
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
  font-family: "sans-serif";
}
#services .service-desc {
  margin-bottom: 40px;
}
#portfolio {
  padding: 100px 0;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: 0 0;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0 0;
  color: #888;
}
.contact-sec {
  height: 6rem;
}
#contact_us {
  padding: 25px 0 60px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#contact .container {
  color: #fff !important;
}
#contact .section-title {
  margin-bottom: 0;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #c03;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: 0 0;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: #fff;
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #000;
}
.contact-title {
  text-align: center;
  color: #000;
}
.form-sec {
  padding-top: 50px;
}
.form-contact {
  padding-top: 70px;
}
.form-contact .form-control {
  border-radius: 10px;
  padding: 10px;
  height: 50px;
}
.form-contact label {
  padding-left: 10px;
  font-weight: bold;
}
.form-contact textarea {
  height: 100px !important;
}
.info-column .inner-column {
  position: relative;
  padding: 70px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 200px;
  background: #ffff;
}

.info-column .inner-column .content {
  position: relative;
  padding-left: 10px;
}
.inner-column i {
  left: 0;
  top: 0;
  color: #000;
  font-size: 44px;
  line-height: 1em;
  text-align: center;
}
.inner-column h5 {
  text-transform: lowercase;
}
#footer {
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #000;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}
.carousel .slider-wrapper {
  height: 60%;
}
.brands {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.brands_slider_container {
  height: 130px;
  border: solid 1px #e8e8e8;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 97px;
  padding-right: 97px;
  background: #fff;
}
.brands_slider {
  height: 100%;
  margin-top: 50px;
}
.brands_item {
  height: 100%;
}
.brands_item img {
  max-width: 100%;
}
.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}
.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.brands_nav:hover i {
  color: #676767;
}
.brands_prev {
  left: 40px;
}
.brands_next {
  right: 40px;
}
.MuiTypography-colorTextSecondary {
  color: #fff !important;
}
#standard-basic {
  color: #fff;
}
.MuiButtonGroup-root {
  margin-top: 4rem;
}
#hr .sec-bg {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 211;
}
#hr .sec-table {
  padding-top: 100px;
}
#hr .table-dark {
  background-color: #000;
}
#hr tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
#sales .sec-bg {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 211;
}
#sales .sec-table {
  padding-top: 100px;
}
#sales .table-dark {
  background-color: #000;
}
#sales tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.form-gap {
  padding-top: 140px;
}
#reset {
  padding-top: 100px;
}
#otp {
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #333;
  padding-top: 100px;
}
#otp #dialog {
  border: solid 1px #ccc;
  margin: 10px auto;
  padding: 20px 30px;
  display: inline-block;
  box-shadow: 0 0 4px #ccc;
  background-color: #faf8f8;
  overflow: hidden;
  position: relative;
  max-width: 450px;
}
#otp #dialog h3 {
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.25;
}
#otp #dialog span {
  font-size: 90%;
}
#otp #form {
  max-width: 240px;
  margin: 25px auto 0;
}
#otp #form input {
  margin: 0 5px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: 0;
  width: 20%;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
#otp #form input:focus {
  border-color: #444;
  box-shadow: 0 0 5px #444 inset;
}
#otp #form input::selection {
  background: 0 0;
}
#otp button {
  margin: 30px 0 50px;
  width: 100%;
  padding: 6px;
  background-color: #444;
  border: none;
  text-transform: uppercase;
}
#drop_file_zone {
  border: #999 1px dashed;
  width: 335px;
  /* height: 66px; */
  padding: 10px 8px 0px 8px;
  margin-bottom: 20px;
  font-size: 18px;
}
#drag_upload_file {
  width: 50%;
  /* margin: 0 auto; */
  padding: 0 25px 0 0;
}
#drag_upload_file p {
  text-align: center;
}
#drag_upload_file #selectfile {
  display: none;
}
.upload-img {
  background: 0 0 !important;
  padding: 5px 15px !important;
}
label {
  cursor: pointer;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.upload-here {
  margin-left: 20px;
}
/* .contact-us {
  text-align: center;
} */
#new-about .img-responsive {
  width: 70%;
  height: 50%;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
#new-about .feature-details {
  margin-top: 16rem;
  margin-left: -10rem;
}
#new-about .feature-details > h1 {
  margin-top: -75px;
  font-size: 35px;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #000;
  font-weight: 500;
  box-sizing: border-box;
  font-weight: bolder;
}
#new-about .feature-details > p {
  margin-left: -1rem;
  margin-top: -2rem;
  text-align: justify;
  padding: 20px 0;
  line-height: 26px;
}
#new-about .service-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}
#new-about .fw-light {
  color: #fff;
  font-weight: 900 !important;
  text-transform: uppercase;
  padding-top: 140px;
}
#new-about .lead {
  color: #fff;
  font-weight: 400 !important;
  padding-top: 5px;
}
#new-about .about-sec {
  padding: 50px 0 20px 0;
}
#new-about .who-we h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
}
#new-about .who-img {
  overflow-x: hidden;
  height: 300px;
}
#new-about .who-we p {
  text-align: justify;
  padding: 20px 0;
  line-height: 26px;
  color: #fff;
}
#new-about .why-choose h1 {
  text-align: center;
  font-weight: 900;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding: 0px 0 22px 0;
  color: black;
}
#new-about .choose__us {
  text-align: center;
}
#new-about .choose__us img {
  opacity: 0.7;
}
#new-about .img_circle {
  border: 2px solid gray;
  width: 150px;
  margin: 0 auto;
  height: 150px;
  border-radius: 50%;
  padding-top: 39px;
  transition: 0.5s ease;
}
#new-about .img_circle img {
  height: 90px;
}
#new-about .choose__us:hover .img_circle {
  background-color: gray;
  transition: 0.5s ease;
  color: #fff;
}
#new-about .choose__us h3 {
  padding-top: 12px;
}
#new-about .choose__us:hover h3 {
  padding-top: 12px;
  color: gray;
}
#new-about .vision-mission-content {
  height: auto;
  position: relative;
  padding: 30px;
  box-shadow: rgb(255 255 255 / 30%) 0 2px 8px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
#new-about .vision-mission-content img {
  height: 100px;
}
.about-sec {
  background: #000;
}
#new-about .vision-mission-content h3 {
  text-align: center;
}
#new-about .vision-mission-content p {
  text-align: justify;
  font-family: none;
}
#new-about .about-bg {
  background: #f5f5f5;
}
#new-about .read-more-less--more {
  color: red !important;
  font-weight: 900;
}
#new-about .read-more-less--less {
  color: red !important;
  font-weight: 900;
}
#new-about .new_banner {
  color: #fff;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#service .sec-service {
  padding-top: 70px;
}
.servicesection {
  margin-top: 30%;
}
#service .web-content {
  padding: 35px 0;
}
#service .web-content p {
  text-align: justify;
  padding: 20px 0;
  line-height: 30px;
}
#service .web-image img {
  max-width: 100%;
  height: 400px;
  float: right;
  padding: 25px 0;
}
#service .service-image img {
  max-width: 100%;
  height: 400px;
  padding: 18px 0;
}
#service .web-bg {
  background: #000;
}
#service .web-service {
  color: #fff;
  padding: 12px 0;
}
#service .web-service p {
  color: #fff;
  text-align: justify;
  padding: 20px 0;
  line-height: 30px;
}
#service .web-service h2 {
  color: #fff;
}
#policy .terms3 {
  font-size: inherit;
  margin: 100px;
}
#policy .terms3 h2 {
  padding-top: 50px;
}
#policy .privacy-para {
  width: 100%;
}
#terms .conditions3 {
  font-size: inherit;
  margin: 100px;
}
#terms .conditions3 h2 {
  padding-top: 50px;
}
#terms .privacy-para {
  width: 100%;
}
#hr .heading {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
}
#hr .heading h1 {
  text-align: center;
  color: #fff;
}
#hr .dropdown-toggle {
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#hr .dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -10px;
}
#hr .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#hr .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#hr .dropdown-content a:hover {
  background-color: #f1f1f1;
}
#hr .dropdown:hover .dropdown-content {
  display: block;
}
#hr .img-radius {
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgb(43 43 43 / 20%);
  box-shadow: 0 5px 10px 0 rgb(43 43 43 / 20%);
  width: 40px;
}
#hr .sec-table {
  padding: 50px 0;
}
#hr table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
#hr table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
#hr table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
#hr table td,
#hr table th {
  padding: 0.625em;
  text-align: center;
}
#hr table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#sales .heading {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
}
#sales .heading h1 {
  text-align: center;
  color: #fff;
}
#sales .dropdown-toggle {
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#sales .dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -10px;
}
#sales .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#sales .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#sales .dropdown-content a:hover {
  background-color: #f1f1f1;
}
#sales .dropdown:hover .dropdown-content {
  display: block;
}
#sales .img-radius {
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgb(43 43 43 / 20%);
  box-shadow: 0 5px 10px 0 rgb(43 43 43 / 20%);
  width: 40px;
}
#sales .sec-table {
  padding: 50px 0;
}
#sales table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
#sales table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
#sales table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
#sales table td,
#sales table th {
  padding: 0.625em;
  text-align: center;
}
#sales table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  /* .sec-about{
    margin-top:50px;
  }  */

  #sales table {
    border: 0;
  }
  #sales table caption {
    font-size: 1.3em;
  }
  #sales table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #sales table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  #sales table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  #sales table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    text-transform: uppercase;
  }
  #sales table td:last-child {
    border-bottom: 0;
  }
  #hr table {
    border: 0;
  }
  #hr table caption {
    font-size: 1.3em;
  }
  #hr table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #hr table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  #hr table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  #hr table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    text-transform: uppercase;
  }
  #hr table td:last-child {
    border-bottom: 0;
  }
}
@media only screen and (max-width: 450px) {
  /* .sec-about{
    margin-top: -100%;
  } */
  #service .web-content {
   padding: 97px 0 0 0 !important;
  }
  #service .service-image img {
    height: auto !important;
  }
  #service .web-image img {
    height: auto !important;
  }
  #new-about .who-we h1 {
    text-align: center;
  }
  .new_banner {
    height: 200px !important;
  }
  .img-responsive {
    width: 100% !important;
    margin-top: 0 !important;
  }
  #new-about .who-img {
    width: 100%;
  }
  .feature-details {
    margin-left: 0 !important;
  }
  #new-about .vision-mission-content {
    height: auto;
  }
  #new-about {
    padding-top: -50px;
  }
}
@media (max-width: 768px) {
  /* .sec-about{
    margin-top:20%;
  }  */

  .testimonialsCenter {
    max-width: 100%;
    overflow: hidden;
    box-shadow: none;
  }
  .rec-arrow-left {
    display: none;
  }
  .rec-arrow-right {
    display: none;
  }
  #fotterContactus {
    padding-top: 20px;
    text-align: center;
  }
  .footerTitle {
    text-align: center;
    padding-bottom: 20px;
  }
  .background-svg {
    margin-top: 80px !important;
  }
  .fw-light {
    padding-top: 8px !important;
  }
  .service-bg {
    height: 20vh !important;
  }
  .background-svg svg {
    height: auto !important;
    width: 100% !important;
    position: absolute;
  }

  [data-aos] {
    pointer-events: auto !important;
  }
  html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 1 !important;
  }
  html:not(.no-js) [data-aos="fade-left"],
  html:not(.no-js) [data-aos="fade-right"] {
    transform: none !important;
  }
  header .intro-text {
    padding: 105px 0 !important;
  }
  .intro h1 {
    font-size: 25px !important;
  }
  #features {
    padding: 110px 0 !important;
  }
  #about {
    padding: 10px 0 20px 0 !important;
  }
  .MuiTypography-root {
    padding: 0 !important;
  }
  .careerFormMainDiv {
    margin-bottom: 0 !important;
    height: auto !important;
  }
  .contact-sec {
    height: 0 !important;
  }
  #drop_file_zone {
    width: auto !important;
    height: auto !important;
  }
  #drag_upload_file {
    width: auto !important;
  }
  #about img {
    margin: 50px 0;
  }
  #policy .terms3 {
    font-size: inherit;
    margin: 0;
  }
  #policy .terms3 h2 {
    padding-top: 90px;
    margin: 0 !important;
  }
  /* .typographyCSS {
    color: #141414;
    padding: 10px;
    margin-top: 35%;
    margin-bottom: 40px;
  } */
}
@media only screen and (max-width: 990px) {
  #new-about .who-we h1 {
    text-align: center;
  }
  #new-about .new_banner {
    height: 200px;
  }
  #new-about .img-responsive {
    width: 100% !important;
    margin-top: 2rem !important;
  }
  #new-about .who-img {
    width: 100%;
    height: auto !important;
  }
  #new-about .feature-details {
    margin-left: 0 !important;
  }
  #new-about .vision-mission-content {
    height: auto;
  }
  /* .typographyCSS {
    color: #141414;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 40px;
  }
   */
}
.icondesign {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #5a5a5a 0, #000 60%) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.icondesign:hover {
  transform: scale(1.3);
  background: linear-gradient(to right, #919191 0, #aaa 100%) !important;
  cursor: pointer;
  color: #222121;
}

/* .sec-about{
  margin-top: 25%;
}  */

/* @media (max-width: 1024px) {
  .sec-about{
    margin-top:100%;
  }  */

@media (max-width: 1024px) {
  /* .sec-about{
    margin-top:83%;
  }  */
}
.textcolor {
  /* color: fff; */
  font-weight: 500;
}
.backgroundcoloer {
  background-color: #000;
  margin-left: 0;
  margin-right: 0;
}
.sec-about {
  margin-top: 20%;
}
#service .sec-service {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
#service .sec-service {
  padding-top: 120px !important;}
}


@media (max-width: 1024px) {
  .sec-about {
    margin-top: 120px;
  }
  #contact_us {
    padding-top: 0px;
  }
  .typographyCSS {
    color: #141414;
    padding: 10px;
    margin-top: 210px;
    margin-bottom: 40px;
  }
  .intro .overlay {
    height: 480px;
  }
  header .intro-text {
    padding-top: 155px;
    padding-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .sec-about {
    margin-top: 395px;
  }
}

@media (max-width: 768px) {
  .sec-about {
    margin-top: 45%;
  }
  #contact_us {
    padding-top: 130px;
  }
  .typographyCSS {
    color: #141414;
    padding: 10px;
    margin-top: 355px;
    margin-bottom: 40px;
  }
  .intro .overlay {
    height: 400px;
  }
  .background-header {
    /* background: linear-gradient(to top, #000, #434343); */
    height: 370px;
  }
}
@media (max-width: 600px) {
  .sec-about {
    margin-top: 630px;
  }
}
@media (max-width: 480px) {
  .sec-about {
    margin-top: 220px;
  }
  #contact_us {
    padding-top: 260px;
  }
  .intro .overlay {
    height: 550px;
    /* margin-top: ; */
  }
  header .intro-text {
    padding: 226px 0 !important;
  }

  .intro p {
    font-size: 15px;
  }
  .typographyCSS {
    color: #141414;
    padding: 10px;
    margin-top: 380px;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .sec-about {
    margin-top: 300px;
  }
  #contact_us {
    padding-top: 292px;
  }
}

footer {
  color: #fff;
}
ul {
  padding: 0px;
}
ol,
ul {
  margin-bottom: 0px;
}

.social-icon {
  padding: 0;
  margin-bottom: 0px;
  float: right;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li i {
  font-size: 14px;
  color: #262725;
  border: solid 2px #ffffff;
  height: 31px;
  width: 31px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  line-height: 27px;
  margin-right: 15px;
  transition: 1s;
  background: #fff;
}
.social-icon li i:hover {
  border: solid 2px #262725;
  color: #ffffff;
  background: #262725;
}

.phone-no i {
  position: relative;
  margin-right: 14px;
  font-size: 43px;
  top: 5px;
}
.phone-no {
  margin-top: -22px;
  text-align: right;
}
.footer-day-time {
  padding-bottom: 30px;
  border-bottom: 2px solid #7a6f6f;
  padding-top: 14px;
  margin-bottom: 55px;
}
.footer-day-time ul li {
  display: inline;
  margin-right: 20px;
}
.footer-day-time ul li:last-child {
  margin-right: 0px;
}
.phone-no a {
  color: #fff;
  font-family: PlayfairDisplay-Black;
  font-size: 34px;
  font-weight: bold;
}
.footer-top {
  background: #2f2f2f;
  padding: 50px 0 50px;
}
.footer-top h4 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer-top p {
  font-size: 13px;
  line-height: 2;
  font-weight: "sans-serif";
}

footer p {
  margin-bottom: 0;
}
.footer-logo {
  display: block;
  margin-bottom: 32px;
}
.address1 li {
  list-style: none;
  position: relative;
  padding: 0px 0 14px 34px;
  line-height: 26px;
  font-size: 14px;
}
ul.address1 span {
  position: absolute;
  width: 40px;
  max-width: 40px;
  left: 0;
}
.address1 li a {
  color: #fff;
  text-decoration: none;
}
ul.address1 i {
  width: 20px;
  position: absolute;
  left: 0px;
  text-align: center;
  font-size: 28px;
  top: 0;
}

ul.address1 i.fa-envelope {
  font-size: 18px;
  top: 4px;
}
footer ul.social-icon {
  float: left;
}
footer .social-icon li i:hover {
  background: #4b8800;
  border-color: #4b8800;
}

.footer-bottom {
  background: #000;
  padding: 10px 0px;
}
.footer-bottom ul li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}
.footer-bottom ul li a {
  color: #fff;
  font-size: 15px;
}

.footer-bottom ul {
  float: right;
}

.footer-bottom ul li:last-child {
  margin-right: 0;
}
.copyright {
  font-size: 18px;
}
.sociallist {
  margin-right: 15px;
}
.footerlinks {
  font-size: 15px;
  font-weight: 500;
}
.imagerep {
  width: 100%;
}
.aboutcolor {
  color: #fff;
}

/* .fontsection{
  font-family: sans-serif;
} */

.footer-distributed {
  background: #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 18px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
  padding: 0 70px;
}

.footer-distributed h3 {
  color: #ffffff;
  /* font: normal 36px 'Open Sans', cursive; */
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  padding: 0 2px;
}

.footer-distributed .footer-company-name {
  color: grey;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  /* color:  lightseagreen; */
  text-decoration: none;
  color: white;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding-top: 17px;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 10px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.footercontact {
  margin: 18px -45px;
}
.careersec {
  padding: 320px 0 0 0;
}

@media (max-width: 425px) {
  .careersec {
    padding: 80px 0 0 0 !important;
  }
  /* .web-content-h2 h2{
margin-top: 50rem;#new-about
} */
  .alicesec .alice-carousel__next-btn-item span {
    font-size: 40px !important;
  }
  .alicesec .alice-carousel__prev-btn-item span {
    font-size: 40px !important;
  }
}
.alicesec .alice-carousel__next-btn-item span {
  font-size: 70px;
  position: absolute;
  right: 3%;
  top: 41%;
  color: #ffffff;
  display: none;
}
.alicesec .alice-carousel__prev-btn-item span {
  font-size: 70px;
  position: absolute;
  left: 3%;
  top: 41%;
  color: #ffffff;
  display: none;
}
.alicesec .alice-carousel__prev-btn-item.__inactive {
  opacity: unset;
}
.alicesec .alice-carousel__dots {
  /* display: none; */
}

.title-border:after {
  border-bottom: 2px solid white;
  content: "";
  display: block;
  padding-top: 15px;
  width: 20%;
}

.sildelink {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 3;
}

.sidep {
  color: white;
  margin: 0px;
}

.sidebar {
  height: auto;
  width: 0px;
  position: fixed;
  text-align: center;
  top: 35vh;
  padding: 10px;
}

.sidebar i {
  left: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}

.social {
  margin-left: -200px;
  width: 230px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: rgba(128, 128, 128, 0.73);
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  box-shadow: 0px 0px 6px 0px #3e3d3d;
  cursor: pointer;
}

.social:hover {
  margin-left: -30px;
  width: 230px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #4099ff;
}

.google {
  background-color: #e1306c;
}
.linkedin {
  background-color: #0a66c2;
}
.youtube {
  background-color: red;
}

.linkedin .sidebar i {
  left: 20px;
}

.google .sidebar i {
  left: 35px;
}

.youtube .sidebar i {
  left: 18px;
}

.youtube:hover {
  background-color: black;
}

.linkedin:hover {
  background-color: #0976b4;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.contactusbtn {
  /* background-color: rgb(59, 57, 57); */
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 12px 20px 8px 20px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.contactlink {
  color: black;
  font-weight: bold;
  /* font-family: "Auto"; */
  font-family: "Lato", sans-serif;

  font-size: 16px;
}

/* For screens with a maximum width of 768px or smaller (mobile) */
@media (max-width: 768px) {
  .icon-bar {
    display: none; /* Hide the icon bar on mobile devices */
  }
}

.services-title {
  margin-bottom: 40px;
}
.services-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.services-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #000 0, #474747 100%);
  height: 4px;
  width: 280px;
  bottom: 0;
  /* margin-right: -px; */
  right: 50%;
}
.services-title p {
  font-size: 18px;
}

.servicesdev {
  margin-bottom: 40px;
}
.servicesdev h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.servicesdev h2::after {
  position: absolute;
  content: "";
  background: gray;
  height: 4px;
  width: 280px;
  bottom: 0;
  /* margin-right: -px; */
  right: 50%;
}
.servicesdev p {
  font-size: 18px;
}
.qoditsec {
  display: inline;
  border-bottom: 1px solid white;
  padding: 20px 0 5px 0;
}


